/*------import font style--------*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
/*------variables------*/
:root{
    /*-------colors--------*/
    --very-light-grey: hsl(0, 5%, 89%);
    /*-----primary colors-------*/
    --Darkcyan: hsl(185, 75%, 39%);
    --Verydarkdesaturatedblue: hsl(229, 23%, 23%);
    --Darkgrayishblue: hsl(227, 10%, 46%);
    /*-----Neutral colors-------*/
    --Darkgray: hsl(0, 0%, 59%);
    /*---- font-family -----*/
    --ff-kumbh: 'Kumbh Sans';
}
/*------reset-css-----*/
*{
    box-sizing: border-box; margin: 0; padding:  0;
}
*::after, *::before{box-sizing: border-box;}
html{
    font-size: 50%;
}
/*------body styling-----*/
body{
    font-family: var(--ff-kumbh) , sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 3rem;
    background-color: var(--Darkcyan);
    background-image: url("/images/bg-pattern-top.svg"), url("/images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: right calc(47vw + 15%) bottom calc(65vh - 15vw), left calc(40vw + 25%) top calc(72vh - 10vw);
    
}
/*-----container styling--------*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88vw;
    height: 80vh;
}

.card{
    border-radius: 2rem;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2rem 8rem rgba(0, 0, 0, 0.2);
}
/*------- card middle -----*/
.card-middle {
    display: grid;
    place-items: center;
    margin-top: -7rem;
    border-bottom: 1px solid var(--very-light-grey);
    padding-bottom: 4rem;
}

.card-middle img{
    padding: 5px;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
}
.card-middle img:hover{
    transform: scale(1.2);
}
.card-title{
    margin-top: 3rem;
    font-weight: 700;
    color: var(--Verydarkdesaturatedblue);
}
.card-title span{
    font-weight: 400;
    color: var(--Darkgray);
}
.location {
    color: var(--Darkgray);
    font-size: 0.8em;
    font-weight: 400;
    margin-top: 1rem;
}
/* ------- card bottom --------------*/
.card-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4rem 1rem;
}
.figure{
    text-align: center;
}
.figure-number{
    color: var(--Verydarkdesaturatedblue);
    font-weight: 700;
}
.figure-name {
    color: var(--Darkgray);
    font-size: 1.4rem;
    margin-top: 1rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
}
                                                                